@{
    ViewData["Title"] = "TimesTable";
}

<div class="text-center">
    <h1 class="display-20">TimesTable</h1>
</div>

<p>For Single Table//Multi-Table</p>
<div>
    <form asp-controller="Calc" asp-action="TimesT" method="POST">
    <input type="number" placeholder="number" name="i">
    <button type="submit">submit</button>
    </form>
</div>

@* @{
    if(ViewBag.result != null)
    {
        <div>
            @for(int a = 1; a < 13; a++)
            {
                <p>@ViewBag.result * @a = @(ViewBag.result * a)</p>
            }
        </div>
    }
} *@

@{
    if(ViewBag.result != null)
    {
        <div>
            @for(int a = 1; a < 13; a++)
            {
                @for(int b=1; b <= @ViewBag.result; b++)
                {
                    @if(b <= @ViewBag.result - 1)
                    {
                        <p>@b * @a = @(b * a)</p>
                    }
                    else
                    {
                        <p>@b * @a = @(b * a)</p>
                    }
                    <br />
                }
            }
        </div>
    }
}

<p>For Multi-table</p>